<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- 告訴 IIS 當請求 node 應用時，使用 iisnode 處理 -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <!-- URL Rewrite 設定：將所有請求轉發到 app.js -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- 選擇性設定：記錄 iisnode 的日誌 -->
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" loggingEnabled="true" devErrorsEnabled="true" />
        <defaultDocument>
            <files>
                <add value="app.js" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
