<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<link rel="stylesheet" href="/edm/css/app.css">
<body>
  <div class="container">
    <div class="member_center">
        <img class="mio_logo" src="/edm/images/mio_logo_black.png" alt="mio logo member system">
        <h1><%= __('member_center') %></h1>
    </div>

    <%- body %>
  </div>
</body>
</html>
